
<meta charset="utf-8">
<div>
    <div style="text-align:center;">
        <h2>{{ date }}日报推送</h2><a style="color: #177EE6" href="{{ group_link }}">点击查看</a>
    </div>
    <table style="max-width: 800px;width:100%; margin: 36px auto; border-collapse: collapse;">
        {% for daily in daily_list %}
            <tr>
                <td style="width: 80px; border: 2px solid #DCDEE5; padding: 6px;"><strong>评价内容</strong></td>
                <td style="border: 2px solid #DCDEE5; min-height: 80px; padding: 6px;color: #336699">{{ daily.evaluate }}</td>
            </tr>
            <tr>
                <td style="width: 80px; border: 2px solid #DCDEE5; padding: 6px;"><strong>评价人</strong></td>
                <td style="border: 2px solid #DCDEE5; min-height: 80px; padding: 6px;color: #336699">{{ evaluate_name }}</td>
            </tr>
            <tr>
                <td style="width: 80px; border: 2px solid #DCDEE5; padding: 6px;"><strong>日报内容</strong>
                <td style="border: 2px solid #DCDEE5; min-height: 80px; padding: 6px; font-size: 14px; color:#585858">
                    <pre style="margin: 0em"><strong>{{ daily.create_name }}</strong></pre>
                    {% for content in daily.content %}
                        <pre style="margin: 0em"><strong>{{ content.title }}</strong></pre>
                        {% for content in content.content %}
                            <pre style=" text-indent: 0em;margin: 0em">{{ content.text }}</pre>
                        {% endfor %}
                        {% if content.text %}
                            <pre style=" text-indent: 0em;margin: 0em">{{ content.text }}</pre>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td style="height: 20px"></td>
            </tr>
        {% endfor %}
    </table>
</div>
