<meta charset="utf-8">
<table class="content-wrap" style="margin: 0 auto; max-width: 600px;">
    <tr>
         <td style="margin: 0 auto; overflow: hidden; padding: 0; border: 0 dotted rgb(238, 238, 238);">
            <!--logo图片-->
            <!--用户日志-->
            <div style="font-size:12pt;FONT-FAMILY: 宋体;text-indent : 20px; BACKGROUND: white; COLOR: #333333; LINE-HEIGHT: 150%; ">
            <h2>hi!您的日报已被评价，快来<a style="color: #177EE6" href="http://dev.paas-edu.bktencent.com:8000/group-dailys">
                查看您的日报吧</a></h2>
             {% for group_reports in group_reports %}
                {% for content in group_reports.content%}
                        <b>{{content.title}}:</b>
                        {% for content in content.content %}
                    <pre style=" text-indent: 0em;">{{ content.text }}</pre><hr>
                        {% endfor %}
                        {% if content.text %}
                    <pre style=" text-indent: 0em;">{{ content.text }} </pre><hr>
                        {% endif %}
                    {% endfor %}
                     <b>评价人：</b>{{ group_reports.username}}<hr>
                     <b>评价：</b> {{group_reports.evaluate_content}}
            {% endfor %}
            </div>
            <!--分隔线-->
            <div style="border: #CCCCCC 1px solid"></div>
            <!--蓝鲸智云-->

        </td>
    </tr>
</table>
 <div style="text-align:center; word-break: break-word; line-height: 20px; font-size: 12px; margin: 0;">
                <a style="color: rgb(136, 136, 136); text-decoration: underline; font-weight: normal;"
                   href="https://bk.tencent.com/" target="_blank" rel="noopener noreferrer">
                    &nbsp蓝鲸智云 — 开创运维新局面&nbsp;
                </a>
            </div>