<div style="max-width: 800px; margin: 40px auto;">
    <div style="text-align: center; font-weight:bold; font-size:2em">
        [{{ date }}] 日报速览
    </div>

    {# 组信息最小重复单元 START #}
    {% for item in group_dailies %}
        <div>
            <div style="margin: 20px 0; background-color: #d9ecff; height: 2px;"></div>
            <table style="width: 100%; font-size: 1.2em;">
                <tr>
                    <td colspan="3" style="font-size: 16px;">
                        <strong>{{ item.group_name }}</strong>
                    </td>
                    <td width=80 style="font-size: 16px;">
                        <a style="color: #177EE6" href="{{ item.group_link }}">查看</a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%; font-size: 16px">
                        日报： {{ item.daily_count }}
                    </td>
                    <td style="width: 30%; font-size: 16px">
                        未写： {{ item.none_report_count }}
                    </td>
                    <td style="width: 30%; font-size: 16px">
                        请假： {{ item.off_day_count }}
                    </td>
                </tr>
                <tr>
                    <td  colspan="4" style=" font-size: 16px">
                        {% if item.off_day_user %}
                            请假名单：
                            <span style="color: #313238">
                                {{ item.off_day_user }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td  colspan="4" style=" font-size: 16px">
                        {% if item.none_report_user %}
                            未写名单：
                            <span style="color: #313238">
                                {{ item.none_report_user }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    {# 组信息最小重复单元 END #}

    {# 日报详细信息 #}
    {% if reports %}
    <div style="text-align: center; font-weight:bold; font-size:2em; margin-top: 50px">
        [{{ date }}] 日报详情
    </div>

    {# 日报信息最小重复单元 START #}
    {% for report_info in reports %}
        <div>
            <div style="margin: 20px 0; background-color: #d9ecff; height: 2px;"></div>
            <table style="width: 100%; font-size: 1.2em;">
                <tr>
                    <td style="font-size: 18px;">
                        <strong>{{ report_info.username }}</strong>
                        <br>
                        <div style="font-size: 14px; color: #63656e; margin: 5px 0 0">
                            {{ report_info.group }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 16px">
                        {% for daily_item in report_info.content %}
                            <h3 style="margin-bottom: 10px">
                                {{ daily_item.title }}
                            </h3>
                            <ol style="margin: 0; padding-top: 0; padding-bottom: 0">

                            {# 日报内容分两种，一种是table形式，一种是text形式，table形式包含多条text形式 #}
                            {% if daily_item.type == "table" %}
                                {% for daily_content in daily_item.content %}
                                    <li style="margin: 10px 5px 5px; font-size: 14px">
                                        {{ daily_content.text }}
                                        {% if not daily_content.isPrivate and daily_content.cost %}
                                            ({{ daily_content.cost }}小时)
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {# 如果为text形式则直接将文本展示出来 #}
                            {% if daily_item.type == "text" %}
                                <li style="margin: 10px 5px 5px; font-size: 14px">
                                    {{ daily_item.text }}
                                        {% if not daily_item.isPrivate and daily_item.cost %}
                                            ({{ daily_item.cost }}小时)
                                        {% endif %}
                                </li>
                            {% endif %}
                            </ol>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    {# 日报信息最小重复单元 END #}
    {% endif %}
</div>