<html lang="zh">
    <head>
        <title>简单通知</title>
        <meta charset="utf-8" />
    </head>
 <body>
<table class="content-wrap" style="margin: auto; max-width: 600px;">
    <!--标题-->
    <tr>
        <td>
            <div class="text" style="overflow-wrap: break-word; margin: 30px; text-align: center; line-height: 20px; color: rgb(0, 0, 0); font-size: 30px; font-weight: normal;">
                {{ notify_title }}
            </div>
        </td>
    </tr>
    <!--通知内容-->
    <tr>
        <td>

            <div style="text-align: center; color: #222222; word-break: break-word; line-height: 20px; font-size: 17px; margin: 20px;">
                {{ notify_content }}
            </div>
        </td>
    </tr>
    {% if button_text %}
        <!--按钮-->
        <tr>
            <td>
                <div style="text-align: center">
                    {% if button_link %}
                    <a href="{{ button_link }}">
                    {% endif %}
                    <button style="padding: 10px 30px; font-size: 15px; height: auto; border-radius: 10px; color: #FFFFFF!important; background: #0092FE; border: none; outline: transparent; cursor: pointer;">
                        {{ button_text }}
                    </button>
                    {% if button_link %}
                    </a>
                    {% endif %}

                </div>
            </td>
        </tr>
    {% endif %}
    <!--分隔线-->
    <tr>
        <td>
            <div style="border: #CCCCCC 1px solid; margin: 5px"></div>
        </td>
    </tr>
    <!--蓝鲸智云-->
    <tr>
        <td>
            <div style="text-align:center; word-break: break-word; line-height: 20px; font-size: 12px; margin: 10px;">
                <a style="color: rgb(136, 136, 136); text-decoration: underline; font-weight: normal;"
                   href="https://bk.tencent.com/" target="_blank" rel="noopener noreferrer">
                    &nbsp蓝鲸智云 — 开创运维新局面&nbsp
                </a>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
