<div style="margin: 0 auto; padding: 40px; text-align: center; height: 100%; overflow: hidden; box-sizing: border-box; max-width: 800px">
    <h2 style="font-size: 2em">
        {{ notify_title|safe }}
    </h2>
    <div style="font-size: 1.2em;">
        {{ notify_content|safe }}
    </div>
    <div style="width: 100%; margin: 0 auto;">
        <img style="width: 100%; height: auto" src="https://smartpublic-10032816.file.myqcloud.com/custom/20211202202931/22735/20211202202931/--08ef28251a40e164b98dc57caf85c83c.png"  alt="装饰图"/>
    </div>
</div>