.groupDailys {
  padding: 40px 40px 0 40px;
  margin: auto;
}

.groupDailys-btn {
  position: relative;
  box-sizing: content-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.selectType {
  position: absolute;
  top: -20px;
  right: 0;
}

.selectgroup {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.selectgroup .bk-select-name {
  margin-left: -10px;
}
.groupDailys {
  padding: 40px 40px 0 40px;
  margin: auto;
}

.groupDailys-btn {
  position: relative;
  box-sizing: content-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.selectType {
  position: absolute;
  top: -20px;
  right: 0;
}

.selectgroup {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.time-slide .slide-header{
            display: flex;
            flex-wrap: nowrap;
    }

.selectgroup .bk-select-name {
  margin-left: -10px;
}
.time-slide .time-manage .select-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.time-slide .time-manage .select-bar .ptitle{
    font-size: 14px;
    font-weight: 400;
    color: #63656e;
    margin-right: 10px;
}
.time-slide .time-manage .loadbox{
    height: 300px;
    line-height: 300px;
    border: 1px solid #eee;
    text-align: center;
}
.time-slide .time-body .time-apply .bk-form .bk-form-item .bk-form-content .bk-form-control{
    width: 94% !important;
}
.time-slide .time-body .time-apply .bk-form .bk-form-item .bk-form-content .bk-date-picker{
    width: 200px;
}
.time-slide .slide-header{
    display: flex;
    flex-wrap: nowrap;
}
.time-slide .slide-header .title{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #dcdee5;
    font-size: 16px;
    font-weight: 700;
    color: #666;
}
.time-slide .slide-header .header-tabs{
    width: 50%;
    text-align:center
}
.time-slide .slide-header .tabs-active{
    border-bottom: 2px solid #3a84ff;
    color: #3a84ff;
}
.time-slide .slide-header .header-tabs:hover{
    cursor: pointer;
    color: #3a84ff;
}
.time-slide .time-manage .time-load {
    height: 300px;
    line-height: 300px;
    /* border: 1px solid #eee; */
    text-align: center;
}
.time-slide .time-manage .select-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.time-slide .time-manage .select-bar .ptitle{
    font-size: 14px;
    font-weight: 400;
    color: #63656e;
    margin-right: 10px;
}
.time-slide .time-manage .loadbox{
    height: 300px;
    line-height: 300px;
    border: 1px solid #eee;
    text-align: center;
}
.time-slide .time-body .time-apply .bk-form .bk-form-item .bk-form-content .bk-form-control{
    width: 94% !important;
}
.time-slide .time-body .time-apply .bk-form .bk-form-item .bk-form-content .bk-date-picker{
    width: 290px;
}
.time-body /deep/ .bk-table {
    margin-top: 20px ;
}
.top-container-right-btn {
  margin-right: 0px;
}
.bk-sideslider.time-slide /deep/ .bk-sideslider-wrapper .right{
    width: 400px;
    right: 0;
}
.time-body .bk-label{
  margin-left:0px !important;
}
.time-body .bk-date-picker-editor{
    width: 349px;
}
.time-body .time-apply .bk-form .bk-form-item .bk-form-content {
    margin-left: 110px !important;
}
.time-body .time-manage .bk-form .bk-form-item .bk-form-content{
    margin-left: 110px !important;
}
.bk-sideslider-content .bk-table-small{
    margin-left: 20px;
    width: 438px;

}